body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
  background-color: #E5E5E1;
}

.instructions .container h1 {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.instructions {
  color: #403F3F;
  padding: 15px;
  background-color: #E5E5E1;
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

#aboutApp {
margin: 10px;
margin-right: 0px;
width: 475px;
float: left;
}

#mission {
  margin: 10px;
  margin-left: 0px;
  width: auto;
  float: right;
}

.container p{
  margin-top : 14px;
}


.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

.navbar {
  background-color: #403F3F;
  width: 100%;
  border-radius: 0px;
  color: #E5E5E1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


md-icon{
  font-family: 'Material Icons' !important;
}

li a:hover {
  text-decoration: underline;
  color: #eee;
}

.md-toolbar-tools{
  background: linear-gradient(10deg, #403F3F 15%,#E5E5E1); 
}

.resourceDiv{
  background-color: #BFBEBC;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 15px;
  padding: 10px;
  
}

.detailsBtn{
background-color: #1C3738;
}

img {
  height: 200px;
  width: 200px;
}


#logout{
 background-color: #403F3F;
 color: #E5E5E1;
}


#newRBtn{
  background-color: #403F3F;
  color: #E5E5E1;
 }

#login{
  background-color: #403F3F;
  color: #E5E5E1;
 }

#infoBtn{
  background-color: #403F3F;
  color: #E5E5E1;
 }

#userDetails{
  background-color: #403F3F;
  color: #E5E5E1;
}

#removeBookmarkBtn{
  background-color: #403F3F;
  color: #E5E5E1;
}

.bookmarked{
  background-color: #BFBEBC;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 15px;
  padding: 10px;
  
}


.searchBar{
  padding: 5px;

}

#filterBar{
  height: 20px;
  width: 200px;
}

.homeContainer{
  text-align: center;
}

#aboutApp{
  text-align: left;
}

#landing{
  text-align: left;
}