<div ng-include="'views/partials/nav.html'"></div>
<div class="homeContainer">
    <h3 class="lead">Login</h3>
    <h1 class="lead alert alert-danger" role="alert" ng-if="lc.message != ''">{{lc.message}}</h2>
        <form ng-submit="lc.login()">
            <div>
                <label for="username">Username:</label>
                <input type="text" ng-model="lc.user.username" />
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" ng-model="lc.user.password" />
            </div>
            <div>
                <md-button id = "login" class="md-raised" type="submit" name="submit" value="Log In">Log in</md-button>
                <a href="#register">Register</a>
            </div>
        </form>
        <div id="landing">
            <h1>Welcome</h1> <br>
            <div id="aboutApp">

                <h3>How To Use This Application</h3>
              <p> Welcome and thank you for using this resource.
               Help Wanted is here to help you find the right resources for you and your loved ones.
               Please create an account or log in to begin utilizing the database of resources.
               Once you have an account you can navigate to the Resources tab.
               This tab will provide users with a brief description of resources locally and nationwide. </p>
               These resources include healthcare options such as:
               <ul>
                   <li>Women's Health</li> <br>
                   <li>Mental Health</li> <br>
                   <li>Family and Individual Services</li> <br>
               </ul>

               <p>Your user tab will list bookmarked resources as well as providing users the option to add new Resources
                   and a some details about their user as well.
               </p>
               <p>
                   Please keep in mind, Help Wanted does not endore any of these resources, this is an open source web application
                   and usage of these resources is up to the discretion of the individual in need.
               </p>

            </div>
            <div id="mission">
                <h3>About The Creator And Mission Statement</h3>
                <p>This application was inspired by Krista J Van Eps and developed by Laura A Goetz. <br>
                Krista is a hard-working student at Metro State University and is currently studying Social Work. <br>
                She expressed concern because of the lack of available way to find resources for people that are in need <br>
                    of them.
                Which is where I come in, I took Krista's concerns and created a tool for users <br>
                to be able to find local resources available to them. <br>
                The mission for this application is to provide users with an easy and unbiased way  <br>
                to locate, contact and learn more about their options.</p>

            </div>
        </div>
    

</div>