<md-dialog aria-label="Help Wanted">
  <!-- <div ng-controller="InfoController as info" > -->
    <form ng-cloak>
      <md-toolbar>
        <div class="md-toolbar-tools">
         {{info.resource}}
        </div>
      </md-toolbar>

      <md-dialog-content>
        <div class="md-dialog-content">
          <div class = "resourceDialog" ng-repeat="resource in info.resource track by $index" >
          <br>
          {{resource}}
          <h3>{{resource.resourcename}}</h3> 
          {{resource.streetaddress}}, {{resource.city}} {{resource.state}}, {{resource.zip}}
        
          <p>
            <strong>Contact:</strong>
            <ul>
              <li>Phone: {{resource.phone}}</li><br>
              <li>Website: {{resource.website}}</li>
            </ul>
           <p><strong>Hours of Operation:</strong></p>
            <ul>
              <li>Monday: {{resource.mondayhours}}</li><br>
              <li>Tuesday: {{resource.tuesdayhours}}</li><br>
              <li>Wednesday: {{resource.wednesdayhours}}</li><br>
              <li>Thursday: {{resource.thursdayhours}}</li><br>
              <li>Friday: {{resource.fridayhours}}</li><br>
              <li>Saturday: {{resource.saturdayhours}}</li><br>
              <li>Sunday: {{resource.sundayhours}}</li><br>
            </ul>
            <p><strong>Description:</strong></p>
            <p>{{resource.description}}</p>
          <h2>Add a new comment:</h2>
          <textarea rows="4" cols="50" ng-model="info.comment"> </textarea>
          <md-button ng-click="info.addComment(info.comment)">Add comment</md-button>
          <br>
          <h4>User Comments:</h4>
          <span>{{info.newComment.comment}}</span>
        </div>
      </div>
      </md-dialog-content>

      <md-dialog-actions layout="row">
        <md-button href={{resources.website}} target="_blank" md-autofocus>
          Navigate to resource website
        </md-button>
        <span flex></span>

      </md-dialog-actions>
    </form>
  <!-- </div> -->
 
</md-dialog>  