<md-dialog aria-label="Help Wanted">
  <!-- <div ng-controller="InfoController as info" > -->
    <form ng-cloak>
      <md-toolbar>
        <div class="md-toolbar-tools">
         {{info.resource}}
        </div>
      </md-toolbar>

      <md-dialog-content>
        <div class="md-dialog-content">
          <div class = "resourceDialog" ng-repeat = "test in info.resourceTest.testArray">
          <br>
          <h3>{{test.resourcename}}</h3> 
          {{test.streetaddress}}, {{test.city}} {{test.state}}, {{test.zip}}

          <p>
            <strong>Contact:</strong>
            <ul>
              <li>Phone: {{test.phone}}</li><br>
            </ul>
           <p><strong>Hours of Operation:</strong></p>
            <ul>
              <li>Monday: {{test.mondayhours}}</li><br>
              <li>Tuesday: {{test.tuesdayhours}}</li><br>
              <li>Wednesday: {{test.wednesdayhours}}</li><br>
              <li>Thursday: {{test.thursdayhours}}</li><br>
              <li>Friday: {{test.fridayhours}}</li><br>
              <li>Saturday: {{test.saturdayhours}}</li><br>
              <li>Sunday: {{test.sundayhours}}</li><br>
            </ul>
          
        </div>
      </div>
      </md-dialog-content>

      <md-dialog-actions layout="row">
        <span flex></span>

      </md-dialog-actions>
    </form>
  <!-- </div> -->
 
</md-dialog>  